# Dependencies
node_modules

# Build
dist
dist-ssr
dist-node

# TypeScript build info
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Local env files
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
